html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mynav-bg {
  background: #138496; }
  .mynav-bg .container .menu {
    width: 100%;
    overflow: hidden;
    height: 64px; }
    .mynav-bg .container .menu .logo {
      float: left;
      padding-top: 12px; }
      .mynav-bg .container .menu .logo h3 a {
        color: white;
        text-decoration: none; }
    .mynav-bg .container .menu ul {
      list-style-type: none;
      float: right; }
      .mynav-bg .container .menu ul li {
        display: inline-block;
        transition: 1s; }
        .mynav-bg .container .menu ul li :hover {
          background: #409fa9; }
        .mynav-bg .container .menu ul li a {
          text-decoration: none;
          padding: 20px 20px;
          text-align: center;
          color: white;
          display: block; }
        .mynav-bg .container .menu ul li ul {
          background: #138496;
          padding: 0px 0px;
          position: absolute;
          display: none;
          z-index: 999; }
          .mynav-bg .container .menu ul li ul li {
            display: block; }
            .mynav-bg .container .menu ul li ul li a {
              text-decoration: none;
              text-align: center;
              color: white;
              display: block; }
            .mynav-bg .container .menu ul li ul li a:hover {
              background: #409fa9; }
      .mynav-bg .container .menu ul li:hover ul {
        display: block; }

.slider-section .carousel-inner .carousel-item img {
  max-height: 550px; }

.slider-section .carousel-inner .carousel-item .carousel-caption {
  padding-bottom: 12%; }
  .slider-section .carousel-inner .carousel-item .carousel-caption .carousel-btn {
    padding: 10px 50px;
    font-size: 24px; }

.sidebar-section {
  padding-top: 40px; }
  .sidebar-section .left-side {
    position: relative;
    padding: 15px 30px;
    margin-bottom: 15px; }
    .sidebar-section .left-side .post-image {
      overflow: hidden; }
      .sidebar-section .left-side .post-image img {
        width: 100%;
        transition: all 1s ease; }
      .sidebar-section .left-side .post-image img:hover {
        transform: scale(1.3); }
    .sidebar-section .left-side .blog-caption {
      background: #138496;
      padding: 10px 15px;
      position: absolute;
      bottom: 0%;
      left: 25%;
      border-radius: 50px;
      color: white; }
      .sidebar-section .left-side .blog-caption span {
        margin: 0 10px; }
  .sidebar-section .left-side-details {
    position: relative;
    padding: 15px 30px; }
    .sidebar-section .left-side-details a {
      text-decoration: none;
      font-size: 24px;
      color: black;
      font-weight: bold;
      line-height: 5px; }
    .sidebar-section .left-side-details p {
      margin-top: 20px; }
    .sidebar-section .left-side-details .blog-btn {
      color: white; }

.right-side .catagory-list {
  padding-top: 30px; }
  .right-side .catagory-list li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    background: #138496;
    padding: 3px 20px;
    margin: 10px 0px;
    border-radius: 20px; }
    .right-side .catagory-list li a {
      color: white;
      text-decoration: none; }
    .right-side .catagory-list li span {
      color: white; }

.blog-carousel .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%; }
  .blog-carousel .owl-nav .owl-prev .owl-nav-prev {
    background: transparent;
    color: #242424;
    font-size: 50px; }
  .blog-carousel .owl-nav .owl-next .owl-nav-next {
    background: transparent;
    color: #242424;
    font-size: 50px; }

.blog-carousel .design-carousel .carousel-content {
  width: 80%;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  margin: 100px 15px; }
  .blog-carousel .design-carousel .carousel-content .card .card-body span {
    display: block; }

.owl-theme .owl-nav [class*='owl']:hover {
  background: transparent; }

.owl-theme .owl-nav [class*='owl'] {
  outline: none; }

.popular-post {
  padding-top: 50px; }
  .popular-post .blog-post {
    margin-top: 50px; }
    .popular-post .blog-post .left-side .blog-caption {
      background: #138496;
      padding: 5px 5px;
      position: absolute;
      bottom: 0%;
      left: 8.6%;
      border-radius: 0px;
      font-size: 12px; }
      .popular-post .blog-post .left-side .blog-caption span {
        margin: 0 5px; }
    .popular-post .blog-post .left-side-details {
      padding: 0px 30px; }
      .popular-post .blog-post .left-side-details a {
        font-size: 18px;
        color: black; }

.newsletter {
  padding-top: 50px; }
  .newsletter .form-element {
    padding: 10px 20px; }
    .newsletter .form-element .input-email {
      width: 80%;
      height: 40px;
      font-size: 16px;
      padding: 8px 10px; }
    .newsletter .form-element .subscribe-btn {
      border-radius: 0;
      padding: 6px 85px;
      color: white;
      font-size: 18px;
      margin-top: 10px; }

.popular-tags {
  padding-top: 50px; }
  .popular-tags .tags {
    padding-top: 20px; }
    .popular-tags .tags .tag {
      background: #138496;
      padding: 5px 10px;
      border-radius: 20px;
      color: white;
      display: inline-block;
      margin: 0px 5px 10px 0px; }

.footer {
  padding: 40px 15px;
  background: black;
  position: relative; }
  .footer h3 {
    color: white;
    margin-bottom: 20px; }
  .footer p {
    color: gray; }
  .footer .instagram-section .instagram-img a {
    margin: 0px 10px 10px 0px; }
    .footer .instagram-section .instagram-img a img {
      width: 100%;
      height: 100%; }
  .footer .follow-section .social-icon a {
    color: white;
    padding: 0px 5px;
    transition: all 1s ease; }
  .footer .follow-section .social-icon a:hover {
    color: #138496; }
  .footer .newsletter-section .form-element .footer-input {
    padding: 4px 10px 8px;
    border: none; }
  .footer .newsletter-section .form-element .footer-btn {
    padding: 6px 12px; }
  .footer .move-up {
    position: absolute;
    top: 50%;
    right: 5%; }
    .footer .move-up span {
      color: #138496;
      cursor: pointer; }
      .footer .move-up span :hover {
        color: white; }

.rights {
  background: black;
  justify-content: center; }
  .rights p {
    color: gray;
    text-align: center; }
    .rights p a {
      text-decoration: none;
      color: white; }
      .rights p a :hover {
        color: #138496; }
